Repository Yapp-17th/Android_1_Client, pull requests merged in 2020-11, with the labels that each got.

#24 통신테스트
  Picon/app/build.gradle
  Picon/app/src/main/AndroidManifest.xml
  Picon/app/src/main/java/com/yapp/picon/data/api/YappApi.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/Address.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/Coordinate.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/Post.kt
  Picon/app/src/main/java/com/yapp/picon/data/network/NetworkModule.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/map/MapActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/map/MapViewModel.kt
Labels: Android, 기본작업

#30 메인화면 - 지역 검색 기능 구현
  Picon/app/build.gradle
  Picon/app/src/main/AndroidManifest.xml
  Picon/app/src/main/java/com/yapp/picon/data/api/NaverApi.kt
  Picon/app/src/main/java/com/yapp/picon/data/di/NetworkModule.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/LocalItem.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/LocalResult.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/dao/SearchedDao.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/local/SearchedDatabase.kt
  Picon/app/src/main/java/com/yapp/picon/domain/entity/SearchedEntity.kt
  Picon/app/src/main/java/com/yapp/picon/helper/RequestCodeSet.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/base/BaseAndroidViewModel.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/base/BaseRecyclerView.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/map/MapActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/search/SearchActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/search/SearchClickAdapter.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/search/SearchCode.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/search/SearchViewModel.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/util/RecyclerViewExt.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/util/ViewExt.kt
  Picon/app/src/main/res/drawable-hdpi/ic_search_delete.png
  Picon/app/src/main/res/drawable-mdpi/ic_search_delete.png
  Picon/app/src/main/res/drawable-xhdpi/ic_search_delete.png
  Picon/app/src/main/res/drawable-xxhdpi/ic_search_delete.png
  Picon/app/src/main/res/drawable-xxxhdpi/ic_search_delete.png
  Picon/app/src/main/res/drawable/search_bar_background.xml
  Picon/app/src/main/res/layout/search_activity.xml
  Picon/app/src/main/res/layout/search_item.xml
  Picon/app/src/main/res/values/strings.xml
  Picon/app/src/main/res/values/styles.xml
Labels: Android, 필수 요구사항

#34 전체 - 리팩토링 및 UI 수정, 메인화면 - 포스트 작성(통신 제외)
  Picon/app/build.gradle
  Picon/app/src/main/AndroidManifest.xml
  Picon/app/src/main/java/com/yapp/picon/presentation/base/BaseActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/map/MapActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/map/MapViewModel.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/NavActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/post/PostActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/post/PostEmotionClickAdapter.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/post/PostPictureClickAdapter.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/post/PostViewModel.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/search/SearchActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/util/ImageViewExt.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/util/RecyclerViewExt.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/util/ViewExt.kt
  Picon/app/src/main/res/drawable-hdpi/ic_map_location.png
  Picon/app/src/main/res/drawable-hdpi/ic_map_now.png
  Picon/app/src/main/res/drawable-hdpi/ic_map_pin.png
  Picon/app/src/main/res/drawable-hdpi/ic_map_pin_close.png
  Picon/app/src/main/res/drawable-hdpi/ic_post_back.png
  Picon/app/src/main/res/drawable-mdpi/ic_map_location.png
  Picon/app/src/main/res/drawable-mdpi/ic_map_now.png
  Picon/app/src/main/res/drawable-mdpi/ic_map_pin.png
  Picon/app/src/main/res/drawable-mdpi/ic_map_pin_close.png
  Picon/app/src/main/res/drawable-mdpi/ic_post_back.png
  Picon/app/src/main/res/drawable-xhdpi/ic_map_location.png
  Picon/app/src/main/res/drawable-xhdpi/ic_map_now.png
  Picon/app/src/main/res/drawable-xhdpi/ic_map_pin.png
  Picon/app/src/main/res/drawable-xhdpi/ic_map_pin_close.png
  Picon/app/src/main/res/drawable-xhdpi/ic_post_back.png
  Picon/app/src/main/res/drawable-xxhdpi/ic_map_location.png
  Picon/app/src/main/res/drawable-xxhdpi/ic_map_now.png
  Picon/app/src/main/res/drawable-xxhdpi/ic_map_pin.png
  Picon/app/src/main/res/drawable-xxhdpi/ic_map_pin_close.png
  Picon/app/src/main/res/drawable-xxhdpi/ic_post_back.png
  Picon/app/src/main/res/drawable-xxxhdpi/ic_map_location.png
  Picon/app/src/main/res/drawable-xxxhdpi/ic_map_now.png
  Picon/app/src/main/res/drawable-xxxhdpi/ic_map_pin.png
  Picon/app/src/main/res/drawable-xxxhdpi/ic_map_pin_close.png
  Picon/app/src/main/res/drawable-xxxhdpi/ic_post_back.png
  Picon/app/src/main/res/drawable/bg_custom_toast.xml
  Picon/app/src/main/res/drawable/bg_map_add_picture.xml
  Picon/app/src/main/res/drawable/bg_map_address.xml
  Picon/app/src/main/res/drawable/bg_map_temp_save.xml
  Picon/app/src/main/res/drawable/bg_post_picture_item.xml
  Picon/app/src/main/res/font/font.xml
  Picon/app/src/main/res/font/noto_sans_kr_medium.otf
  Picon/app/src/main/res/layout/custom_toast.xml
  Picon/app/src/main/res/layout/map_activity.xml
  Picon/app/src/main/res/layout/post_activity.xml
  Picon/app/src/main/res/layout/post_emotion_item.xml
  Picon/app/src/main/res/layout/post_picture_item.xml
  Picon/app/src/main/res/values/colors.xml
  Picon/app/src/main/res/values/strings.xml
  Picon/app/src/main/res/values/styles.xml
Labels: Android, 필수 요구사항

#39 di Koin 적용
  Picon/app/build.gradle
  Picon/app/src/main/AndroidManifest.xml
  Picon/app/src/main/java/com/yapp/picon/MainApplication.kt
  Picon/app/src/main/java/com/yapp/picon/data/api/NaverApi.kt
  Picon/app/src/main/java/com/yapp/picon/data/di/DatabaseModule.kt
  Picon/app/src/main/java/com/yapp/picon/data/di/LocalModule.kt
  Picon/app/src/main/java/com/yapp/picon/data/di/NetworkModule.kt
  Picon/app/src/main/java/com/yapp/picon/data/di/RemoteModule.kt
  Picon/app/src/main/java/com/yapp/picon/data/di/RepositoryModule.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/local/SearchedDatabase.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/naver/NaverDataSource.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/naver/NaverRepository.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/naver/NaverRepositoryImpl.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/naver/remote/NaverRemoteDataSource.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/searched/SearchedDataSource.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/searched/SearchedRepository.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/searched/SearchedRepositoryImpl.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/searched/local/SearchedDao.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/searched/local/SearchedDatabase.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/searched/local/SearchedLocalDataSource.kt
  Picon/app/src/main/java/com/yapp/picon/domain/di/UseCaseModule.kt
  Picon/app/src/main/java/com/yapp/picon/domain/usecase/DeleteSearedUseCase.kt
  Picon/app/src/main/java/com/yapp/picon/domain/usecase/GetAllSearedUseCase.kt
  Picon/app/src/main/java/com/yapp/picon/domain/usecase/GetLocalUseCase.kt
  Picon/app/src/main/java/com/yapp/picon/domain/usecase/InsertSearedUseCase.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/di/ViewModelModule.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/search/SearchActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/search/SearchViewModel.kt
  Picon/build.gradle
Labels: Android, 심화 요구사항

#43 통계 화면 구현 Pull Request
  Picon/app/build.gradle
  Picon/app/src/main/java/com/yapp/picon/presentation/map/MapActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/model/ListItemForPlaceGraph.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/model/StatisticDate.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/model/StatisticEmotionGraphItem.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/model/StatisticPlaceGraphItem.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/CustomEmotionFragment.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/NavActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/NavTypeStringSet.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/NavViewModel.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/StatisticContentViewFragment.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/StatisticFragment.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/adapter/CustomEmotionAdapter.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/adapter/EmotionGraphAdapter.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/adapter/MonthListAdapter.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/adapter/PlaceGraphAdapter.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/nav/repository/StatisticRepository.kt
  Picon/app/src/main/res/anim/translate_down.xml
  Picon/app/src/main/res/anim/translate_up.xml
  Picon/app/src/main/res/drawable-hdpi/ic_category.png
  Picon/app/src/main/res/drawable-mdpi/ic_category.png
  Picon/app/src/main/res/drawable-xhdpi/ic_category.png
  Picon/app/src/main/res/drawable-xxhdpi/ic_category.png
  Picon/app/src/main/res/drawable-xxxhdpi/ic_category.png
  Picon/app/src/main/res/drawable/bg_graph_view.xml
  Picon/app/src/main/res/drawable/bg_updown_list.xml
  Picon/app/src/main/res/layout/emotion_graph_item.xml
  Picon/app/src/main/res/layout/month_list_item.xml
  Picon/app/src/main/res/layout/nav_statistic_app_bar.xml
  Picon/app/src/main/res/layout/nav_statistic_content_view.xml
  Picon/app/src/main/res/layout/nav_statistic_fragment.xml
  Picon/app/src/main/res/layout/place_graph_item.xml
  Picon/app/src/main/res/values/colors.xml
  Picon/app/src/main/res/values/strings.xml
  Picon/build.gradle
Labels: Android, 필수 요구사항

#45 PiCON 시작하기 및 간편 로그인 구현
  Picon/app/build.gradle
  Picon/app/src/main/AndroidManifest.xml
  Picon/app/src/main/java/com/yapp/picon/data/api/YappApi.kt
  Picon/app/src/main/java/com/yapp/picon/data/di/LocalModule.kt
  Picon/app/src/main/java/com/yapp/picon/data/di/RemoteModule.kt
  Picon/app/src/main/java/com/yapp/picon/data/di/RepositoryModule.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/LoginRequest.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/LoginResponse.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/Response.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/SimpleJoinRequest.kt
  Picon/app/src/main/java/com/yapp/picon/data/model/SimpleJoinResponse.kt
  Picon/app/src/main/java/com/yapp/picon/data/repository/user/UserRepository.kt
  Picon/app/src/main/java/com/yapp/picon/data/repository/user/UserRepositoryImpl.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/datastore/DataStoreDataSource.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/datastore/local/DataStoreLocalDataSource.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/yapp/YappDataSource.kt
  Picon/app/src/main/java/com/yapp/picon/data/source/yapp/remote/YappRemoteDataSource.kt
  Picon/app/src/main/java/com/yapp/picon/domain/di/UseCaseModule.kt
  Picon/app/src/main/java/com/yapp/picon/domain/usecase/LoadAccessTokenUseCase.kt
  Picon/app/src/main/java/com/yapp/picon/domain/usecase/LoginUseCase.kt
  Picon/app/src/main/java/com/yapp/picon/domain/usecase/SaveAccessTokenUseCase.kt
  Picon/app/src/main/java/com/yapp/picon/domain/usecase/SimpleJoinUseCase.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/di/ViewModelModule.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/login/LoginActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/login/LoginViewModel.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/simplejoin/SimpleJoinActivity.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/simplejoin/SimpleJoinViewModel.kt
  Picon/app/src/main/java/com/yapp/picon/presentation/util/ActivityCode.kt
  Picon/app/src/main/res/drawable-hdpi/ic_login_kakao.png
  Picon/app/src/main/res/drawable-hdpi/ic_login_naver.png
  Picon/app/src/main/res/drawable-mdpi/ic_login_kakao.png
  Picon/app/src/main/res/drawable-mdpi/ic_login_naver.png
  Picon/app/src/main/res/drawable-xhdpi/ic_login_kakao.png
  Picon/app/src/main/res/drawable-xhdpi/ic_login_naver.png
  Picon/app/src/main/res/drawable-xxhdpi/ic_login_kakao.png
  Picon/app/src/main/res/drawable-xxhdpi/ic_login_naver.png
  Picon/app/src/main/res/drawable-xxxhdpi/ic_login_kakao.png
  Picon/app/src/main/res/drawable-xxxhdpi/ic_login_naver.png
  Picon/app/src/main/res/drawable/bg_cornflower_radius_5dp.xml
  Picon/app/src/main/res/drawable/bg_login_form.xml
  Picon/app/src/main/res/layout/login_activity.xml
  Picon/app/src/main/res/layout/simple_join_activity.xml
  Picon/app/src/main/res/values/strings.xml
Labels: Android, 심화 요구사항
